ALTER PROC [dbo].[GetAllChildMenu] 
	@MenuID NVARCHAR(50) = 'mnuUserRequest',
	@UserName NVARCHAR(50) = 'admin'
AS
BEGIN
DECLARE @GROUP_ID INT = (SELECT TOP 1 GROUP_ID FROM dbo.USERS WHERE USERNAME =@UserName)
SELECT T1.* INTO #TEMPT FROM dbo.WebMenu T1
INNER JOIN  dbo.MenuWebWin T2 ON T1.MenuID = T2.MenuWEB_ID
INNER JOIN dbo.NHOM_MENU T3 ON T3.MENU_ID = T2.MENU_ID
WHERE T3.GROUP_ID = @GROUP_ID AND T1.Hide = 0
UNION
SELECT * FROM dbo.WebMenu A WHERE NOT EXISTS(SELECT MenuWEB_ID  FROM dbo.MenuWebWin B WHERE	A.MenuID = B.MenuWEB_ID)
DECLARE @Root INT = 0
DECLARE @ID INT
SELECT   @ID = ID, @Root = [Root] FROM #TEMPT WHERE MenuID = @MenuID
WHILE (@Root <> 0)
BEGIN
	SELECT  @ID =  ID,  @Root = [Root] FROM #TEMPT WHERE [ID] = @Root
END
SELECT * FROM #TEMPT WHERE ID = @ID or [Root] = @ID
END

