USE [CMMS_WEBHL]
GO
/****** Object:  StoredProcedure [dbo].[GetMonitoringParametersByDevice]    Script Date: 16/08/2019 08:40:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[GetMonitoringParametersByDevice]
	@deviceID nvarchar(50)='HCSHCM0004',
	@tungay NVARCHAR(20)= '08/16/2019',
	@ms_loaicv INT =-1,
	@isDue INT = 0,
	@stt INT	= 11
	-- isdue = 1 xem theo ngày đến hạn
	--0 là xem tất cả
as
begin
	SELECT DISTINCT @deviceID DeviceID, THONG_SO_GSTT.TEN_TS_GSTT MonitoringParamsName, CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT  MonitoringParamsID, T.MS_BO_PHAN ComponentID, T.TEN_BO_PHAN ComponentName,
    THONG_SO_GSTT.LOAI_TS TypeOfParam, ''  MeasurementUnitName,  GIA_TRI_TS_GSTT.TEN_GIA_TRI ValueParamName, GIA_TRI_TS_GSTT.DAT Pass, CONVERT(FLOAT, 0) Measurement,GIA_TRI_TS_GSTT.STT ValueParamID, 
	'' Note INTO #TEMPT
	FROM THONG_SO_GSTT 
	INNER JOIN CAU_TRUC_THIET_BI_TS_GSTT ON CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT = THONG_SO_GSTT.MS_TS_GSTT 
	INNER JOIN CAU_TRUC_THIET_BI T ON T.MS_MAY = CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY AND T.MS_BO_PHAN = CAU_TRUC_THIET_BI_TS_GSTT.MS_BO_PHAN 
	LEFT JOIN GIA_TRI_TS_GSTT ON THONG_SO_GSTT.MS_TS_GSTT = GIA_TRI_TS_GSTT.MS_TS_GSTT 
	WHERE (CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = @deviceID) AND  THONG_SO_GSTT.LOAI_TS = 1 AND (@isDue = 0 OR (@isDue = 1 AND [dbo].[WEB_GET_NGAY_KE_GSTT_ONLINE](T.MS_MAY, T.MS_BO_PHAN,
	THONG_SO_GSTT.MS_TS_GSTT) <= @tungay)) AND (MS_LOAI_CV = @ms_loaicv OR @ms_loaicv =-1)
	UNION
	SELECT DISTINCT @deviceID DeviceID,  THONG_SO_GSTT.TEN_TS_GSTT MonitoringParamsName, CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT MonitoringParamsID, T.MS_BO_PHAN ComponentID, T.TEN_BO_PHAN ComponentName,
    THONG_SO_GSTT.LOAI_TS TypeOfParam, ISNULL(T4.TEN_DV_DO, '') MeasurementUnitName, dbo.GetGiaTriThongSo(@deviceID,T.MS_BO_PHAN, CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT) ValueParamName, -1 Pass, CONVERT(FLOAT, 0)  Measurement,-1 ValueParamID, 
	'' Note 
	FROM THONG_SO_GSTT 
	INNER JOIN CAU_TRUC_THIET_BI_TS_GSTT ON CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT = THONG_SO_GSTT.MS_TS_GSTT 
	INNER JOIN CAU_TRUC_THIET_BI T ON T.MS_MAY = CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY AND T.MS_BO_PHAN = CAU_TRUC_THIET_BI_TS_GSTT.MS_BO_PHAN 
	LEFT JOIN dbo.DON_VI_DO AS T4 ON THONG_SO_GSTT.MS_DV_DO = T4.MS_DV_DO WHERE (CAU_TRUC_THIET_BI_TS_GSTT.MS_MAY = @deviceID) AND THONG_SO_GSTT.LOAI_TS = 0 AND (@isDue = 0 OR (@isDue = 1 AND [dbo].[WEB_GET_NGAY_KE_GSTT_ONLINE](T.MS_MAY, T.MS_BO_PHAN, THONG_SO_GSTT.MS_TS_GSTT) <= @tungay)) AND (MS_LOAI_CV = @ms_loaicv OR @ms_loaicv =-1)
	GROUP BY THONG_SO_GSTT.TEN_TS_GSTT, CAU_TRUC_THIET_BI_TS_GSTT.MS_TS_GSTT, T.MS_BO_PHAN, T.TEN_BO_PHAN,
    THONG_SO_GSTT.LOAI_TS, TEN_DV_DO,CAU_TRUC_THIET_BI_TS_GSTT.MS_TT 
	IF @stt = -1
	BEGIN
	SELECT * FROM #TEMPT
	END
	ELSE
BEGIN
SELECT T1.MS_MAY,T1.MS_BO_PHAN,T1.MS_TS_GSTT, T2.TEN_GIA_TRI,T1.GHI_CHU,T1.STT_GT INTO #TEMPT1 FROM dbo.GIAM_SAT_TINH_TRANG_TS_DT T1
LEFT JOIN dbo.GIA_TRI_TS_GSTT T2 ON T2.MS_TS_GSTT = T1.MS_TS_GSTT AND T1.STT_GT =T2.STT
 WHERE T1.STT =@stt AND T1.MS_MAY = @deviceID
ORDER BY T1.MS_MAY

UPDATE #TEMPT 
SET	Measurement = 1
WHERE EXISTS(SELECT * FROM #TEMPT1  WHERE MS_MAY = #TEMPT.DeviceID AND MS_BO_PHAN = #TEMPT.ComponentID AND MS_TS_GSTT = #TEMPT.MonitoringParamsID AND STT_GT = #TEMPT.ValueParamID)
		SELECT * FROM #TEMPT A 
END	
end
